<!-- Author Box -->
{% if page.author %}
<hr class="col-xs-12">
<div class="row post-top-meta">
    <div class="col-xs-12 col-md-3 col-lg-2 text-center text-md-left mt-4 mb-md-0">
        <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
    </div>
    <div class="col-xs-12 col-md-9 col-lg-10 text-center text-md-left">
        <a target="_blank" class="link-dark" href="{{ author.web }}">{{ author.display_name }}</a> <a target="_blank" href="{{ author.twitter }}" class="btn follow">Follow</a>
        <span class="author-description">{{ author.description }}</span>
    </div>
</div>
{% endif %}