---
---

@import "{{ site.theme }}";

header {
    width: 100%;
    position: unset;
    clear: both;
    -webkit-font-smoothing: subpixel-antialiased;
}

section {
    width: 98%;
    padding-bottom: 50px;
}

section p {
    text-align: justify;
}

section h1 {
    color: #007bff
}

footer {
    width: 100%;
    float: none;
    position: unset;
    clear: both;
}

.author-thumb {
    width: 40px;
    height: 40px;
    margin-right: 13px;
    border-radius: 100%;
}

.post-top-meta {
    margin-bottom: 2rem;
}

.post-top-meta .author-thumb {
    width: 72px;
    height: 72px;
}

.post-top-meta.authorpage .author-thumb {
    margin-top: 40px;
}

.post-top-meta span {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, .44);
    display: inline-block;
}

.post-top-meta .author-description {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 0.95rem;
}

.btn.follow {
    border-color: #02B875;
    color: #1C9963;
    padding: 3px 10px;
    text-align: center;
    border-radius: 999em;
    font-size: 0.85rem;
    display: inline-block;
}

.info-box {
    color: rgba(0,0,0,.6);
    background-color: rgba(0,124,255,.10);
    border-color: #007bff;
    position: relative;
    padding: .75rem 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid;
    border-radius: .25rem;
}

.info-box a {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    background-color: transparent;
}